export(PrefMap)
export(SensMapUI)
export(SmoothMap)
export(StabMap)
import(FactoMineR)
import(MCMCpack)
import(factoextra)
import(fields)
import(gam)
import(glmulti)
import(plotly)
import(shiny)
importFrom(doBy,summaryBy)
importFrom(grDevices,terrain.colors)
importFrom(graphics,contour)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(lattice,wireframe)
importFrom(stats,aggregate)
importFrom(stats,as.formula)
importFrom(stats,cancor)
importFrom(stats,lm)
importFrom(stats,loess)
importFrom(stats,model.matrix)
importFrom(stats,predict)


